<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Side</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <section class="about">
        <img class="bg" src="/img/wallpaperflare.com_wallpaper.jpg" alt="">
        <div class="content left">
            <h1>The D-Side <br><span>ORIGIN</span></h1>
            <p>The origin of D-Side
                In the beginning of the 90s, at a cramped garage in the suburbs of Detroit, four friends decided to turn
                their
                frustration and passion for music into something great. This is how D-Side was born, a rock band that
                mixed heavy riffs, introspective lyrics and an electrifying stage presence. <br> </p>
            <img src="/img/band-4671748_1280.jpg" alt="">


        </div>
        <div class="content right">
            <h1><span>THE CREW</span></h1>


            <p>The Vocalist, Jack "Howl" Carter, a former factory worker with a husky, soulful voice, found in the
                skillful
                guitarist, Danny Vance, a perfect partner to create striking melodies. <br> The band's kitchen was
                formed by
                bassist Mikey "Bones" Reynolds, whose energetic touch gave the right groove, and explosive drummer Tyler
                Knox, known for his frenetic style. <br>



            </p>

            <img src="/img/drum-set-1839383_1280.jpg" alt="">

            <h1><span>the history</span></h1>
            <p>After years of playing in bars and small concert halls, D-Side got their big break in 1997, when a
                home-recorded demo tape found its way into the hands of an influential producer. Their debut album, From
                Inside Out, launched the band to stardom with hits like "Slide" and "Shadows in the Rain." <br>

                With their raw and authentic sound, the band has gained a loyal fan base and navigated decades of ups
                and downs, industry changes and personal challenges. But the cry of thunder never fell silent—and D-Side
                continues to roar on stages to this day.</p>
            </p>
            <img src="/img/concert-316464_1280.jpg" alt="">
            <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>

        </div>

    </section>

</body>
<script src="/js/navbar.js"></script>


</html>