<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Side</title>
    <link rel="stylesheet" href="/css/music.css">
</head>

<body>
    <section class="music">
        <img class="bg" src="/img/wallpaperflare.com_wallpaper.jpg" alt="">
        <div class="albums">
            <div class="wrapper ">
                <div class="card">
                    <img src="/img/pexels-merve-44394884-7497788.jpg" alt="">
                    <div class="desc">
                        <h2>FROM <br> <span>20 nov 2024 • albums</span></h2>
                        <p>Our newest album</p>
                    </div>

                </div>
                <div class="card">
                    <img src="/img/pexels-nikkor-14164256.jpg " alt="">
                    <div class="desc">
                        <h2>apolo11 <br> <span>10 sep 2024 • albums</span></h2>
                        <p>Apollo11 examples our rage argainst the hipocrisy of society.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/pexels-ron-lach-7804615.jpg" alt="">
                    <div class="desc">
                        <h2>reborn <br> <span>12 ago 2023 • albums</span></h2>
                        <p>Reborn is a cry for help </p>
                    </div>
                </div>
            </div>
            <div id="wdown" class="wrapper">
                <div class="card">
                    <img src="/img//resource-database-iq9HWHmT6uc-unsplash.jpg" alt="">
                    <div class="desc">
                        <h2>doom <br> <span>01 apr 2023 • albums</span></h2>
                        <p>Doom a scream of the soul </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/pexels-mediocrememories-2157168.jpg" alt="">
                    <div class="desc">
                        <h2>fight <br> <span>06 oct 2020 • albums</span></h2>
                        <p>Hyms for the inner wars</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/band-4671748_1280.jpg" alt="">
                    <div class="desc">
                        <h2>ruined <br> <span>30 fev 2020 • albums</span></h2>
                        <p>On february 30th the D-Side made their debute with Ruined...</p>
                    </div>
                </div>
            </div>
            <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>

        </div>
    </section>
    <script src="/js/navbar.js"></script>
</body>

</html>