<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-side</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <header>
        <a class="brand" href="/home.html">D-SIDE</a>
        <div class="menu-btn">
            <img src="/img/hamburger.png" alt="Menu" id="menuToggle">
            <img src="/img/cancelar.png" alt="Menu" id="menuClose">
        </div>
        <div class="navigation" id="navMenu">
            <div class="navigation-items">
                <a href="/home.html">TOURS</a>
                <a class="act" href="/abas/about.html">ABOUT</a>
                <a href="/abas/music.html">MUSIC</a>
                <a href="/abas/shows.html">SHOWS</a>
                <a href="/abas/contact.html">CONTACT</a>
            </div>
        </div>
    </header>
    <script src="/js/navbar.js"></script>

</body>

</html>