<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Side</title>
    <link rel="stylesheet" href="/css/shows.css">
</head>

<body>
    <section class="shows">
        <img class="bg" src="/img/wallpaperflare.com_wallpaper.jpg" alt="">
        <div class="content">
            <div class="card">
                <h2>austin, tx<br><span>moody center</span></h2>
                <h3>12 apr 2025</h3>
                <p>Coming right at you</p>
                <button>tickets</button>
                <button id="vip">vip</button>
            </div>
            <div class="card" id="second">
                <h2>tulsa, ok<br><span>bok center</span></h2>
                <h3>20 apr 2025</h3>
                <p>Coming right at you.</p>
                <button>tickets</button>
                <button id="vip">vip</button>
            </div>
            <div class="card">
                <h2>grand rp, mi<br><span>van adel arena</span></h2>
                <h3>01 may 2025</h3>
                <p>Coming right at you</p>
                <button>
                    tickets
                </button>
                <button id="vip">vip</button>
            </div>
        </div>

    </section>
</body>
<script></script>

</html>